.home {
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    transform: translateY(50px);
}

.home__product {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 100%;
}

.home__productRow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}