.subtotal {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  box-sizing: border-box;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  background: #f0c14b;
  width: 100%;
  border-radius: 2px;
  padding: 5px 0;
}
